<div class="container">
    <div class="currency currency-wrapper">
        <div class="select-container">
            <select (change)="getSelectedValue($event)" id="firstCurrency" class="select" >
                <option *ngFor="let item of items" [value]=item.id class="select-option">{{item.name.toUpperCase()}}</option>
            </select>
        </div>
        <button class="reverse-button" type="button" (click)="changeDirection()">
            <img src="assets/reverse.png" alt="reverse icon" width="20px" height="20px"/>
        </button>
        <div class="select-container">
            <select (change)="getSelectedValue($event)" id="secondCurrency" class="select">
                <option *ngFor="let item of items" [value]=item.id class="select-option">{{item.name.toUpperCase()}}</option>
            </select>
        </div>
        <input type="number" name="amount" class="amount" (change)="getSelectedValue ($event)" placeholder="Колличество">
        </div>
</div>
        <div class="container result-container">
            <p class="result">{{output}}</p>
            <button type="button" class="button" (click)="calculateRate()">Посчитать</button>
        </div> 
      